.dialog-container {
    resize: both;
    overflow: auto;
    min-width: 300px;
    min-height: 200px;
    max-width: 90vw;
    max-height: 90vh;
    border: 1px solid #ccc;
  }

  .custom-dialog-container .mat-dialog-container {
    padding: 0;
  }
